/target
/validation/9cc
/tmp.s
/tmp.tmp
/tmp.c
/tmp_linked.c
/tmp
/test/tmp.c
/test/tmp.s
/test/test.s
*.s
*.o
/test/tmp
/.vscode/
/src.c
/src.s
/samples/run.sh
/samples/tmp.c
a.out
link.c
/lemola_cc
/cellular_automaton

/tetris.c
/tetris2.c
/tmp2.c
/prpr_tetris.c
